section.about#about
  .container 
    .about-top
      h2.h2.section-title What we do
      p.section-text Each time a digital asset is purchased or sold, Sequoir donates a percentage of the fees back into the development of the asset through its charitable foundation.
      ul.about-list 
        li
          .about-card
            .card-icon
              ion-icon(name='briefcase-outline')
            h3.h3.card-title Paid Search and Social Management
            p.card-text Each time a digital asset is purchased or sold, Sequoir donates a percentage of the fees back
        li
          .about-card
            .card-icon
              ion-icon(name='chatbubbles-outline')
            h3.h3.card-title Direct Response Content
            p.card-text Each time a digital asset is purchased or sold, Sequoir donates a percentage of the fees back
        li
          .about-card
            .card-icon
              ion-icon(name='rocket-outline')
            h3.h3.card-title CRO and Retention Optimizations
            p.card-text Each time a digital asset is purchased or sold, Sequoir donates a percentage of the fees back
    .about-bottom
      figure.about-bottom-banner
        img.about-banner(src='./assets/images/about-banner.png', alt='about banner')
      .about-bottom-content
        h2.h2.section-title We’re obsessed with growth
        p.section-text Each time a digital asset is purchased or sold, Sequoir donates a percentage of the fees back into the development of the asset through its charitable foundation.
        button.btn.btn-secondary Sign Up For Free