section.features#features
  .container
    h2.h2.section-title Our team is made up of all different backgrounds from all over the world.
    p.section-text Each time a digital asset is purchased or sold, Sequoir donates a percentage of the fees back into the development of the asset through its charitable foundation.
    ul.features-list
      li.feature-item
        figure.feature-item-banner
          img(src='./assets/images/feature-1.png', alt='feature banner')
        .feature-item-content
          h2.h2.item-title Cover your everyday expenses
          p.item-text Inspiration comes in many ways and you like to save everything from. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      li.feature-item
        figure.feature-item-banner
          img(src='./assets/images/feature-2.png', alt='feature banner')
        .feature-item-content
          h2.h2.item-title We offer low fees that are transparent
          p.item-text Each time a digital asset is purchased or sold, Sequoir donates a percentage of the fees back into the development of the asset through its charitable foundation.
