section.hero#home
          .container
            .hero-content
              h1.h1.hero-title Your full-funnel growth agency
              p.hero-text Capture and retrieve your lists across devices to help you stay organized at work, home, and on the go.
              button.btn.btn-primary Get started
            .hero-banner
          img.shape-content(src="./assets/images/bg.png", alt="shape")